*.mod
*.o
*.zip
*.tgz
*.out
*.so
*.lo
*.log
*.pc
include/*
bin/*
lib/*
share/*
zlib-1.2.8/*
readline-6.3/*
plplot-5.11.1/*
gsl-1.16/*
gdl-0.9.6/*
doc/*
Healpix_3.30/*
cmake-3.4.1/*
cfitsio/*
PolSpice_v03-01-06/*
figures/*.pdf
*~